/* CustomCalendar.module.css */
.calendarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px; /* Adjust as needed */
}

.calendar {
  width: 100%; /* Set to 100% for full-width */
  max-width: 2000px; /* Limit max width */
  height: auto; /* Allow height to adjust based on content */
  border: 1px solid #ffffff; /* Optional border for visibility */
}

.highlight {
  background-color: #DFD0B8 !important; /* Change this to match the TripCard color */
}

.today {
  background-color: #3C5B6F !important; /* Set 'today' to dark blue */
  color: #ffffff !important; /* Optional: Change text color to white for better visibility */
 
}
